" set tings!
set relativenumber
set incsearch

" Leader-key!
let mapleader=" "

" Reload.
nnoremap <leader>r :action IdeaVim.ReloadVimRc.reload<CR>

" Tab jumping.
nnoremap <c-p> :action PreviousTab<CR>
nnoremap <c-n> :action NextTab<CR>"

" Window jumping.
nnoremap <leader>h <c-w>h
nnoremap <leader>j <c-w>j
nnoremap <leader>k <c-w>k
nnoremap <leader>l <c-w>l
